<h4>Centro de Mensajes</h4>
<form onsubmit="return send(this)">
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <input type="text" class="form-control" name="message" id="message" placeholder="Ingresa un mensaje..." rows="3"></input>
    </div>
    <button type="submit">Enviar</button>
  </form>