<ul class="nav justify-content-center">
    <% if(nav === "formulario"){ %>
    <li class="nav-item">
      <button type="button" class="btn btn-dark"><a class="nav-link" href="/productos">Productos</a></button>
    </li>
    <%}else{ %>
    <li class="nav-item">
        <button type="button" class="btn btn-dark"><a class="nav-link" href="/">Formulario</a></button>
    </li>
    <%}%>
  </ul>