<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <br><br>
    <% const estilo='color:blue' %>
    <%- include('../partials/nav.ejs') %>
    <br><br><br>
    <h1 style=<%=estilo%>;text-align:center >Formulario</h1><br><br><br>
    <%- include('../partials/form.ejs') %>
</body>
</html>