form(style="margin-left:300px ;" action="/productos" method="post" class="row")
    div(class="form-group col-lg-2 mx-sm-3 mb-2")
        label(for="exampleInputEmail1")="Producto"
        input(type="text" class="form-control" name="producto" id="producto"  placeholder="producto")
    div(class="form-group col-lg-2 mx-sm-3 mb-2")
        label(for="exampleInputEmail1")="Precio"
        input(type="text" class="form-control" name="precio" id="precio"  placeholder="precio")
    div(class="form-group col-lg-2 mx-sm-3 mb-2")
        label(for="exampleInputEmail1")="Descripción"
        input(type="text" class="form-control" name="descripcion" id="descripcion"  placeholder="descripcion")
    button(type="submit" class="btn btn-primary")="Enviar"
