<br><br>
{{> nav }}
<br><br><br>
<h1 style='text-align:center;text-decoration:underline;'>Listado de Productos</h1>
<br><br><br>
{{#if listaProd}}
<ul>
    {{#each productos}}
    <div class="row" style="margin-left: 200px ;">
        <div class="cart-item col" xs={12} md={3}>
            <p><strong>
                    {{producto}}
                </strong></p>
        </div>
        <div class="cart-item col" xs={12} md={2}>
            <p><strong>
                    {{descripcion}}
                </strong></p>
        </div>
        <div class="cart-item col" xs={12} md={2}>
            <p><strong>${{precio}}</strong></p>
        </div>
    </div>
    {{/each}}
</ul>
{{else}}
<h2> No hay productos</h2>
{{/if}}